*{
    background-color: lightgrey;

}
h1{
    color: white;
    font-family: system-ui;
    background:black;
    border: 3px solid purple;
}

h2{
    color:white;
    font-family: system-ui;
    background: black;
    border: 3px solid purple;

}
h3{
    color:white;
    font-family: system-ui;
    background: black;
    border: 3px solid purple;

}
h4{
    color:white;
    font-family: system-ui;
    background: black;
    border: 3px solid purple;

}
h5{
    font-size: medium;
    font-family: system-ui;
    color: white;
    background: black;
    border: 3px solid purple;
}

